# Library - statsmodels
- Statsmodels is a Python library designed for statistical computations, offering a wide range of functionalities for statistical modeling, testing, and data exploration. It provides a comprehensive set of tools for various statistical tasks, complementing numerical libraries like NumPy and SciPy.
- https://www.statsmodels.org/stable/index.html
- https://www.statsmodels.org/stable/user-guide.html
- https://www.statsmodels.org/stable/examples/index.html

In [1]:
import statsmodels.api as sm
import pandas
from patsy import dmatrices

#patsy is a Python library for describing statistical models and building Design Matrices using R-like formulas

In [2]:
df = sm.datasets.get_rdataset("Guerry", "HistData").data
df.head()

,dept,Region,Department,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,MainCity,...,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
0,1,E,Ain,28870,15890,37,5098,33120,35039,2:Med,...,71,60,69,41,55,46,13,218.372,5762,346.03
1,2,N,Aisne,26226,5521,51,8901,14572,12831,2:Med,...,4,82,36,38,82,24,327,65.945,7369,513.00
2,3,C,Allier,26747,7925,13,10973,17044,114121,2:Med,...,46,42,76,66,16,85,34,161.927,7340,298.26
3,4,E,Basses-Alpes,12935,7289,46,2733,23018,14238,1:Sm,...,70,12,37,80,32,29,2,351.399,6925,155.90
4,5,E,Hautes-Alpes,17488,8174,69,6962,23076,16171,1:Sm,...,22,23,64,79,35,7,1,320.280,5549,129.10

In [3]:
y, X = dmatrices('Lottery ~ Literacy + Wealth + Region', data=df, return_type='dataframe')

In [4]:
y

    Lottery
0      41.0
1      38.0
2      66.0
3      80.0
4      79.0
..      ...
80     68.0
81     40.0
82     55.0
83     14.0
84     51.0

[85 rows x 1 columns]

In [5]:
X

,Intercept,Region[T.E],Region[T.N],Region[T.S],Region[T.W],Literacy,Wealth
0,1.0,1.0,0.0,0.0,0.0,37.0,73.0
1,1.0,0.0,1.0,0.0,0.0,51.0,22.0
2,1.0,0.0,0.0,0.0,0.0,13.0,61.0
3,1.0,1.0,0.0,0.0,0.0,46.0,76.0
4,1.0,1.0,0.0,0.0,0.0,69.0,83.0
...,...,...,...,...,...,...,...
80,1.0,0.0,0.0,0.0,1.0,28.0,56.0
81,1.0,0.0,0.0,0.0,1.0,25.0,68.0
82,1.0,0.0,0.0,0.0,0.0,13.0,67.0
83,1.0,1.0,0.0,0.0,0.0,62.0,82.0
84,1.0,0.0,0.0,0.0,0.0,47.0,30.0

In [7]:
mod = sm.OLS(y, X)

In [8]:
res = mod.fit()

In [9]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Lottery   R-squared:                       0.338
Model:                            OLS   Adj. R-squared:                  0.287
Method:                 Least Squares   F-statistic:                     6.636
Date:                Fri, 10 Oct 2025   Prob (F-statistic):           1.07e-05
Time:                        16:18:06   Log-Likelihood:                -375.30
No. Observations:                  85   AIC:                             764.6
Df Residuals:                      78   BIC:                             781.7
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      38.6517      9.456      4.087      0.000      19.826      57.478
Region[T.E]   -15.4278      9.727     -1.586      0.117     -34.793       3.938
Region[T.N]   -10.0170      9.260     -1.082      0.283     -28.453       8.419
Region[T.S]    -4.5483      7.279     -0.625      0.534     -19.039       9.943
Region[T.W]   -10.0913      7.196     -1.402      0.165     -24.418       4.235
Literacy       -0.1858      0.210     -0.886      0.378      -0.603       0.232
Wealth          0.4515      0.103      4.390      0.000       0.247       0.656
==============================================================================
Omnibus:                        3.049   Durbin-Watson:                   1.785
Prob(Omnibus):                  0.218   Jarque-Bera (JB):                2.694
Skew:                          -0.340   Prob(JB):                        0.260
Kurtosis:                       2.454   Cond. No.                         371.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
res.params

Intercept      38.651655
Region[T.E]   -15.427785
Region[T.N]   -10.016961
Region[T.S]    -4.548257
Region[T.W]   -10.091276
Literacy       -0.185819
Wealth          0.451475
dtype: float64

In [11]:
res.rsquared

0.337950869192882

In [12]:
sm.stats.linear_rainbow(res)

(0.8472339976156913, 0.6997965543621656)

In [14]:
#sm.graphics.plot_partregress('Lottery', 'Wealth', ['Region', 'Literacy'], data=df, obs_labels=False)

## ANOVA
- https://www.statsmodels.org/stable/anova.html

In [18]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [20]:
moore = sm.datasets.get_rdataset("Moore", "carData", cache=True) # load data
data = moore.data
data.head()

  partner.status  conformity fcategory  fscore
0            low           8       low      37
1            low           4      high      57
2            low           8      high      65
3            low           7       low      20
4            low          10       low      36

In [21]:
data = data.rename(columns={"partner.status": "partner_status"}) # make name pythonic

In [22]:
moore_lm = ols('conformity ~ C(fcategory, Sum)*C(partner_status, Sum)', data=data).fit()

In [23]:
table = sm.stats.anova_lm(moore_lm, typ=2) # Type 2 ANOVA DataFrame

In [24]:
print(table)

                                              sum_sq    df          F  \
C(fcategory, Sum)                          11.614700   2.0   0.276958
C(partner_status, Sum)                    212.213778   1.0  10.120692
C(fcategory, Sum):C(partner_status, Sum)  175.488928   2.0   4.184623
Residual                                  817.763961  39.0        NaN

                                            PR(>F)
C(fcategory, Sum)                         0.759564
C(partner_status, Sum)                    0.002874
C(fcategory, Sum):C(partner_status, Sum)  0.022572
Residual                                       NaN